{% extends './layout.html' %}
	{% block title %} 文章列表 {% endblock %}
	
	{% block content %} 
	
	
		
		
		<div class="container">
		    <h1>文章列表  </h1>
		    <div id="toolbar">
		        <a href="/admin/article/add" id="remove" class="btn btn-primary" >
		            <i class="glyphicon glyphicon-plus"></i> 添加
		        </a>
		    </div>
		    <table id="table">
		            <thead>
				    <tr>
				        <th data-field="_id">ID</th>
				        <th data-field="title">标题</th>
				        <th data-field="body">内容</th>
				        <th data-field="time">发布时间</th>
				    </tr>
				    </thead>
		    </table>
		</div>
	{% endblock %}	
	
	{% block js %} 
	<script data-main="admin/article/list" src="/public/common/main.js" type="text/javascript" charset="utf-8"></script>
	{% endblock %}
		
		

