<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} 首页 {% endblock %}</title>
		{% if !isDev %}
			<link rel="stylesheet" href="/public/css/admin-lib.css" />
		{% endif %}
		{% block css %} {% endblock %}
	</head>
	<body>
		<div>
			<nav class="navbar navbar-default" role="navigation">
		        <!-- Brand and toggle get grouped for better mobile display -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		                    <span class="sr-only">响应菜单</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		            <a class="navbar-brand" href="#">后台管理</a>
		        </div>
		
		        <!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse navbar-ex1-collapse">
		            <ul class="nav navbar-nav">
		                <li class="active"><a href="/admin/index">文章列表</a></li>
		                
		
		            </ul>
		
		            <ul class="nav navbar-nav navbar-right">
		                <li class="dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">欢迎您，{{ user.username }} <b class="caret"></b></a>
		                    <ul class="dropdown-menu">
		                        <li><a href="/admin/logout">退出登录</a></li>
		                    </ul>
		                </li>
		            </ul>
		        </div>
		        <!-- /.navbar-collapse -->
		    </nav>
		</div>
		
		{% block content %} {% endblock %}
		
		
		{% block js %} {% endblock %}
		<script src="/public/common/admin-lib.js" type="text/javascript" charset="utf-8"></script>
		
		{% if isDev %}
		<script src="/reload/reload.js" type="text/javascript" charset="utf-8"></script>
		{% endif %}
	</body>
</html>
