{% if isAjax %}
	{% block content %} {% endblock %}
{% else %}


<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}  {% endblock %}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		{% if !isDev %}
			<link rel="stylesheet" href="/public/css/lib.css" />
		{% endif %}
		{% block css %} {% endblock %}
	</head>
	<body>
		<div id="wrap">
            <header id="main-header">
                <div id="header-wrap">
                    <div id="logo">
                        <div class="logo-avatar">
                            
                        </div>
                    </div>
                    <nav id="main-nav"> 
                        <ul class="nav-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home"><a href="/">首页</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="">关於</a></li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="">洒家茶話</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a title="_blank" href="">文艺少年</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">归档</a></li>
                        </ul>  
                    </nav>
        
                    <form role="search" method="get" id="search-form" action="" style="margin-bottom: 12px; opacity: 1;">
                        <div>
                            <input type="text" placeholder="Search" >
                            
                        </div>
                    </form>
        
                </div>
            </header>
            <div class="topfixed_bg"></div>
            <main id="main">
			{% block content %} {% endblock %}
			</main>

            <footer id="main-footer">
                <div id="footer-copy">
                    <div class="social">
                        <a rel="nofollow"  href="#" class="dwtip-top" title="RSS订阅我"><i class="iconfont icon-rss"></i></a> 
                        <a rel="nofollow" href="#" class="dwtip-top" title="电子邮件"><i class="iconfont icon-mail"></i></a>
                        <a rel="nofollow"  href="" class="dwtip-top" title="新浪微博"><i class="iconfont icon-weibo"></i></a>
                        <a rel="nofollow" target="" href="/" class="dwtip-top" title="Github"><i class="iconfont icon-github"></i></a>
                    </div>
                    copyright ©2015-2017&nbsp;&nbsp;卡尔攻城狮&nbsp;&nbsp;黔ICP备15002244号&nbsp;&nbsp;			</div>
                <div class="clear"></div>
            </footer>
			
        </div>
		
		
		<script src="/public/common/lib.js" type="text/javascript" charset="utf-8"></script>
		{% block js %} {% endblock %}
		{% if isDev %}
		<script src="/reload/reload.js" type="text/javascript" charset="utf-8"></script>
		{% endif %}
	</body>
</html>
{% endif %}