body{
	background: url("https://cn.bing.com/az/hprichbg/rb/CityPalace_ZH-CN7843237957_1920x1080.jpg");
	background-attachment: fixed;
}
.container{
	margin-top: 150px;
}
.login form{
	background: rgba(251,251,251,0.3);
	padding: 36px 20px 40px 20px;
	border-radius: 8px;
	display: block;
}
.login .avatar{
	display: block;
	width: 80px;
	height: 80px;
	background: url(../index/touxiang.jpg) no-repeat center;
	background-size: contain;
	border-radius: 50%;
	margin: 20px auto;
}
